body{
    font-family: verdana;
}
*{
    margin: 0;
    padding: 0;
}
header{
    position: absolute;
    background-color: black;
    width: 100%;
    color: burlywood;

}
header h2{
    position: absolute;
    margin-top: 20px;
    left: 5%;
}
header{
    height: 10vh;
}
.nav{
    position: absolute;
    width: 100%;
}
.nav a{
    position: relative;
    left: 25%;
    top:20px;
    color: burlywood;
    text-decoration: moccasin;
    margin-right: 20px;
}